@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

.contents {
  /* background: pink; */
  margin: 0 auto;
  width: 502px;
  margin-top: 50px;
}

.contents section {
  border: 1px solid var(--gray-500, #C4C4C4);
  position: relative;
}

.contents section:hover {
  border: 1px solid var(--blue-600, #0074E9);
}

.purchase {
  position: absolute;
  top: 248px;
  left: 20px;
  width: 42px;
  height: 42px;
  background-image: url(images/button.svg);
  text-decoration: none;
}

/* .purchase span {
  display: inline-block;
} */

.purchase:hover,
.purchase:focus {
  background: var(--blue-600, #0074E9);
  transition: 200ms linear;
  background-image: url(images/angle-right.svg);
  background-repeat: no-repeat;
  background-position: 88px 16px;
  width: 112px;
  padding: 12px 18px 13px 20px; 
}

.purchase:hover::before,
.purchase:focus::before {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  content:'구매하기';
  color: var(--White, #FFF);
  display: block;
}

.contents-ottogi {
  /* background: purple; */
  /* position: relative; */
  margin-bottom: 16px;
  border: 1px solid var(--gray-500, #C4C4C4);
  display: flow-root;
  background: var(--White, #FFF);  
}

.ottogi-logo {
  /* background: reds; */
  position: absolute;
  top: 75px;
  left: 73px;
}

.ottogi-desc {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  font-family: Noto Sans;
  width: 200px;
  top: 155px;
  left: 28px;
  color: var(--gray-800, #4E4E4E);
}

.ottogi-product {
  /* position: absolute; */
  top: 20px;
  left: 252px;
  display: inline-block;
  float: right;
  margin: 20px 28px 20px 0;
  line-height: 0;
}

.contents-kamil {
  /* background: yellowgreen; */
  width: 243px;
  float: left;
  /* position: relative; */
}

.kamil-logo {
  display: block;
  position: absolute;
  top: 14px;
  left: 64px;
}

.kamil-desc {
  display: block;
  position: absolute;
  top: 66px;
  left: 21px;
  width: 200px;
  text-align: center;
  color: var(--grayscale-gray-5, #555);
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
    
}

.kamil-product {
  display: inline-block;
  float: left;
  margin: 100px 25px 14px 23px;
}

.contents-gomgom {
  /* background: aqua; */
  width: 243px;
  float: right;
}

.gomgom-logo {
  display: block;
  position: absolute;
  top: 14px;
  left: 64px;
}

.gomgom-desc {
  display: block;
  position: absolute;
  top: 66px;
  left:21px;
  width: 200px;
  text-align: center;
  color: var(--grayscale-gray-5, #555);
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.gomgom-product {
  display: inline-block;
  float: left;
  margin: 100px 25px 14px 23px;
}