.component-list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
  padding: 2rem;
}

.main {
  color: #fff;
  padding: 20px 18px 68px;
  display: grid;
  justify-items: center;
  row-gap: 24px;
  background: var(--black);
}

.main-info {
  display: grid;
  row-gap: 24px;
  margin-top: 48px;
  text-align: center;
}

.main-info em {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 20px;
}

.main-info p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.009px;
}

.main-info p:last-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.007px;
  padding: 0 40px;
}

.main .limit {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.006px;
}

@media (min-width: 768px) {
  .main {
    padding: 57px 120px 200px;
    background: transparent;
  }

  .main-info {
    margin-top: 0;
  }

  .main-info em {
    font-size: 60px;
    max-width: 518px;
  }

  .main-info p {
    font-size: 20px;
    letter-spacing: -0.01px;
  }

  .main-info p:last-child {
    max-width: 310px;
    justify-self: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.008px;
  }

  .main .limit {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.008px;
  }
}
