@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
:root {
  --theme-color-blue: #24388D;
  --theme-color-white: #fefefe;
  --theme-color-snow: #f5f5f5;
}
/* 기본 디자인 */
html { 
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
  font-size: 10px;
}

body *,
body *::after,
body *::before {
  box-sizing: border-box;
}

.reset-list {
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--theme-color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, p {
  margin: 0;
}

.main {
  width: 100%;
  min-width: 384px;
  height: 100vh;
  background: url('./images/coffee.svg') no-repeat;
  background-position-x: -330px;
  background-size: cover;
  /* background-color: aqua; */
}

/* 헤더 */
.nav-bar {
  background-color: var(--theme-color-white);
  max-width: 600px;
}

.nav-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 384px;
  margin: 0 auto;
}

.logo {
  margin-left: 18px;
}

.menu-list {
  padding: 0;
  width: 50px;
  height: 50px;
  background: url('./images/menu-icon.svg') no-repeat center;  
}

.menu-list li {
  background-color: var(--theme-color-white);
  border: 1px solid var(--theme-color-snow);
  color: var(--theme-color-blue);
  font-size: 1.6rem;
  padding: 15px;
  width: 200px;
  float: right;
  display: none;
}

.menu-list li:first-child {
  margin-top: 50px;
}

.is-focused {
  font-weight: 600;
}

/* 메인 */
.main-content {
  width: 85%;
  
  margin: 0 auto;
  /* background-color: yellow; */
  padding-top: 70px;
}

/* 로그인 문구 */
.welcome {
  color: var(--theme-color-white);
  /* background-color: pink; */
  text-align: center;

  & h1 {
    font-weight: 100;
    font-size: 3.6rem;
  }

  & strong {
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    height: 27px;
    align-items: center;
  }

  & p {
    font-weight: 300;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    height: 18px;
    align-items: center;
  }
}

/* 로그인 영역 */
.login-wrap {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 114px;
  width: 311px;
}

.login-wrap input[type=email],
.login-wrap input[type=password] {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: none;
  box-shadow: 0 0.5px var(--theme-color-white);
  color: var(--theme-color-white);
  font-weight: 300;
  font-size: 1.6rem;
  padding: 22px 8px 0 8px;
}

.login-wrap input[type=email]::placeholder,
.login-wrap input[type=password]::placeholder {
  color: var(--theme-color-white);
  font-weight: 300;
  font-size: 1.8rem;
}

.login-wrap input[type=password] {
  margin-top: 52px;
}

/* 이메일 저장 체크박스 */
input[type=checkbox] { 
  display: none;
}

input[type=checkbox]+label {
  color: var(--theme-color-white);
  font-size: 1.2rem;
  font-weight: 300;
  display: block;
  position: absolute;
  top: 163px;
}

input[type=checkbox]+label::before {
  content: '';
  background: url('images/checkbox-uncheck.svg');
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: -3px;
  margin-right: 4px; 
}

input[type=checkbox]:checked+label::before {
  background: url('images/checkbox-check.svg');
  align-self: center;
}

/* 로그인 버튼 */
.button-wrap {
  position: absolute;
  top: 312px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}

.login-button {
  /* position: absolute; */
  /* top: 312px; */
  /* left: 0; */
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 2rem;
  color: var(--theme-color-blue);
  padding: 0 15px;
}

.login-button img {
  display: block;
  float: right;  
}

.login-button .is-active {
  color: var(--theme-color-blue);
}

.sign-up {
  /* position: absolute; */
  /* top: 375px; */
  /* left: 0; */
  border: 1px solid var(--theme-color-white);
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 2rem;
  padding: 14px 17px;
  color: var(--theme-color-white);
  background: transparent;
  text-align: center;
  line-height: 18px;
  /* display: flow-root; */
}

.sign-up::after {
  clear:both;
  content: '';
}

.sign-up img {
  /* display: block; */
  float: right;

}

/* 반응형 - 데스크톱 */
@media (min-width: 600px) {
  .main {
    background: url('./images/coffee.svg') no-repeat;
    background-size: cover;
    width: 100%;
  }

  .nav-bar {
    max-width: none;
  }

  .nav-content {
    width: 90%;
    max-width: 740px;
  }

  .menu-list {
    background: none;
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
    overflow: hidden;

    & li {
      background-color: none;
      border: none;
      display: inline;
      padding: 0;
      width: auto;
      float: none;
      font-size: 1.5rem;
      white-space: nowrap;
    }

    & li:first-child {
      margin-top: 0;
    }
  }

  .main-content {
    padding-top: 100px;
  }

  .login-wrap {
    width: 60%;
    max-width: 540px;
    margin-top: 100px;
  }

  .button-wrap {
    top: 243px;
    flex-flow: row nowrap;
    column-gap: 20px;
  }

  .login-button {
    display: inline-block;
    max-width: 260px;
  }

  .sign-up {
    display: inline-block;
    max-width: 260px;
    top: 312px;
    right: 0;
  }
}