body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.98) 45%), url('./images/background-mobile.png') 0 -200px, lightgray 50% / cover no-repeat;
  
}

@media (min-height: 768px) {
  body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.98) 45%), url('./images/background.png') -600px -100px, lightgray 50% / cover no-repeat;
  }
}

.main {
  flex-grow: 1;
}